
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="site-blocks-cover" style="background-image: url(../../Assets/Home/images/bg01.1.jpg);" data-aos="fade">
    <div class="container">
        <div class="row align-items-start align-items-md-center justify-content-end">
            <div class="col-md-5 text-center text-md-left pt-5 pt-md-0">
                <h1 class="mb-2" style="color:white;">Cà Phê Trung Nguyên</h1>
                <div class="intro-text text-center text-md-left">
                    <p class="mb-4" style="color:white;">Trung Nguyên, thương hiệu cà phê từ thiên đường!</p>
                    <p>
                        <a href="shop.html" class="btn btn-outline-warning" style="border-color: white; color: white;">Xem sản phẩm</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="site-section site-section-sm site-blocks-1">
    <div class="wapper">
        <div class="wapsp margin-top-92 class-content-dichvu" style="color:black;">
            <div class="col-lg-12 text-center">
                <h2>QUY TRÌNH LÀM RA LY CÀ PHÊ NGUYÊN CHẤT</h2>
            </div>
            <div class="col-lg-12 text-center">
                <div class="col-lg-12 col-xs-12"><img class="img-title-2" src="~/Assets/Home/images/Separator-Black.png" alt="Bonjour Coffee" style="width:150px;height:20px"></div>
            </div>
            <div class="col-lg-12 text-center">
                <p class="content-p-quytrinh">
                    Lựa chọn vùng nguyên liệu tin cậy; Áp dụng quy trình sơ chế - rang xay chuyên biệt;<br> Phối trộn theo gu vị là các yếu tố tạo nên sản phẩm cà phê nguyên chất dành pha phin, pha máy tại Trung Nguyên Coffee.
                </p>

            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-xs-12 text-center item-dich-vu">
                        <div class="col-lg-12 text-center">
                            <img src="~/Assets/Home/images/BC-Icon-Web-01.jpg" alt="Vùng nguyên liệu tin cậy" style="width:100px;height:100px">
                        </div>
                        <div class="col-lg-12 text-center">
                            <h3>Vùng nguyên liệu tin cậy</h3>
                            <p>Tại Bonjour Coffee, hạt cà phê được tuyển chọn từ vùng nguyên liệu nổi tiếng: Cầu Đất, Di Linh, Buôn Ma Thuột; Quả cà phê được hái chín 100% bởi bàn tay cần mẫn của người nông dân.</p>
                        </div>

                    </div>
                    <div class="col-lg-4 col-xs-12 text-center item-dich-vu">
                        <div class="col-lg-12 text-center">
                            <img src="~/Assets/Home/images/BC-Icon-Web-02.jpg" alt="Phương pháp sơ chế chuyên biệt " style="width:100px;height:100px">
                        </div>
                        <div class="col-lg-12 text-center">
                            <h3>Phương pháp chuyên biệt </h3>
                            <p>Thấu hiểu hạt cà phê từng vùng nguyên liệu, Bonjour Coffee chọn phương pháp sơ chế phù hợp: chế biến khô, chế biến ướt, chế biến honey để tạo ra vị cà phê nguyên chất đậm đà, quyến rũ.</p>
                        </div>

                    </div>
                    <div class="col-lg-4 col-xs-12 text-center item-dich-vu">
                        <div class="col-lg-12 text-center">
                            <img src="~/Assets/Home/images/BC-Icon-Web-03.jpg" alt="Kỹ thuật rang xay hiện đại " style="width:100px;height:100px">
                        </div>
                        <div class="col-lg-12 text-center">
                            <h3>Kỹ thuật rang xay hiện đại </h3>
                            <p>Hạt cà phê được lựa chọn tỉ mỉ và được rang trên những thiết bị hiện đại áp dụng công nghệ hot air. Các profile rang được nghiên cứu phù hợp cho từng dòng cafe, từng cách pha chuyên biệt.</p>
                        </div>

                    </div>
                    <div class="col-lg-4 col-xs-12 text-center item-dich-vu">
                        <div class="col-lg-12 text-center">
                            <img src="~/Assets/Home/images/BC-Icon-Web-04.jpg" alt="Phối trộn theo gu vị " style="width:100px;height:100px">
                        </div>
                        <div class="col-lg-12 text-center">
                            <h3>Phối trộn theo gu vị </h3>
                            <p>Hiểu đặc tính cà phê Arabica, Robusta, thử nghiệm hương vị trên từng mẻ rang, Bonjour Coffee tiến hành phối trộn theo tỉ lệ bí mật để tạo ra cafe nguyên chất đậm đà, thơm nồng, phù hợp từng gu vị.</p>
                        </div>

                    </div>
                    <div class="col-lg-4 col-xs-12 text-center item-dich-vu">
                        <div class="col-lg-12 text-center">
                            <img src="~/Assets/Home/images/BC-Icon-Web-05.jpg" alt="Đóng gói theo tiêu chuẩn " style="width:100px;height:100px">
                        </div>
                        <div class="col-lg-12 text-center">
                            <h3>Đóng gói theo tiêu chuẩn </h3>
                            <p>Cà phê sau khi rang xay và phối trộn theo gu vị sẽ được đóng gói bằng túi chuyên dụng có khóa zipper, giúp bảo quản bột cafe tốt hơn, giữ được hương vị thơm ngon lâu hơn sau khi mở bao bì. </p>
                        </div>

                    </div>
                    <div class="col-lg-4 col-xs-12 text-center item-dich-vu">
                        <div class="col-lg-12 text-center">
                            <img src="~/Assets/Home/images/BC-Icon-Web-06.jpg" alt="Ly cafe nguyên chất tuyệt hảo " style="width:100px;height:100px">
                        </div>
                        <div class="col-lg-12 text-center">
                            <h3>Ly cafe nguyên chất</h3>
                            <p>Cà phê nguyên chất của nhà rang được phân phối đến người tiêu dùng qua dịch vụ chuyển phát. Bạn có thể chọn mua cafe pha phin hoặc pha máy, dạng bột hoặc nguyên hạt để thưởng thức.</p>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="site-section block-3 site-blocks-2 bg-light">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-7 site-section-heading text-center pt-4">
                <h2>Sản Phẩm Nổi Bật</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="nonloop-block-3 owl-carousel">
                    @foreach(var item in ViewBag.SanPhamNoiBat) {
                    <div class="item">
                        <div class="block-4 text-center">
                            <figure class="block-4-image">
                                <img src="~/Upload/sanpham/@item.HinhAnh" alt="Image placeholder" class="img-fluid">
                            </figure>
                            <div class="block-4-text p-4">
                                <h3><a href="/SanPham/ChiTiet/@item.MaSP">@item.TenSP</a></h3>
                                <p class="mb-0">@item.NguonGoc</p>
                                <p class="text-primary font-weight-bold">@String.Format("{0:0,0 vnđ}", item.DonGia) - @item.KhoiLuong g</p>
                            </div>
                        </div>
                    </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
<div class="site-section block-3 site-blocks-2 bg-light">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-7 site-section-heading text-center pt-4">
                <h2>Sản Phẩm Mới Nhất</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="nonloop-block-3 owl-carousel">
                    @foreach (var item in ViewBag.SanPhamMoi)
                    {
                        <div class="item">
                            <div class="block-4 text-center">
                                <figure class="block-4-image">
                                    <img src="~/Upload/sanpham/@item.HinhAnh" alt="Image placeholder" class="img-fluid">
                                </figure>
                                <div class="block-4-text p-4">
                                    <h3><a href="/SanPham/ChiTiet/@item.MaSP">@item.TenSP</a></h3>
                                    <p class="mb-0">@item.NguonGoc</p>
                                    <p class="text-primary font-weight-bold">@String.Format("{0:0,0 vnđ}", item.DonGia) - @item.KhoiLuong g</p>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

<div class="site-section site-section-sm site-blocks-1">
    <div class="site-section block-8">
        <div class="container">
            <div class="row justify-content-center  mb-5">
                <div class="col-md-7 site-section-heading text-center pt-4">
                    <h2>Big Sale!</h2>
                </div>
            </div>
            <div class="row align-items-center">
                <div class="col-md-12 col-lg-7 mb-5">
                    <a href="#"><img src="~/Assets/Home/images/salecaphe1.jpg" alt="Image placeholder" class="img-fluid rounded"></a>
                </div>
                <div class="col-md-12 col-lg-5 text-center pl-md-5">
                    <h2><a href="#">Giảm Giá 30% Tất Cả Các Mặt Hàng</a></h2>
                    <p class="post-meta mb-4">Đăng Bởi <a href="#">Mai Nguyễn</a> <span class="block-8-sep">&bullet;</span> 19 Tháng 11, 2022</p>
                    <p>Những hạt cà phê đến từ châu lục đông dân nhât thế giới, chủ yếu đến từ Việt Nam, tập trung nhiều vào hạt Robusta được sử dụng cho cà phê hòa tan và không được chú ý nhiều trong thế giới cà phê đặc sản</p>
                    <p><a href="shop.html" class="btn btn-primary btn-sm">Shop Now</a></p>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-4 d-lg-flex mb-4 mb-lg-0 pl-4" data-aos="fade-up" data-aos-delay="">
                <div class="icon mr-4 align-self-start">
                    <span class="icon-truck"></span>
                </div>
                <div class="text">
                    <h2 class="text-uppercase">Chính Sách Vận Chuyển Và Giao Hàng</h2>
                    <p>
                        Phí giao hàng cho khách hàng có địa chỉ ở nội thành Tp. Hà Nội và Tp. Hồ Chí Minh<br />
                        - Với đơn hàng trị giá dưới 100.000 VNĐ (Một trăm nghìn đồng chẵn), Quý khách vui lòng trả thêm phí vận chuyển đi trong nội thành TP. Hà Nội hoặc TPHCM
                        - Với đơn hàng trị giá từ 100.000 VNĐ (Một trăm nghìn đồng chẵn) trở lên, Quý khách được MIỄN PHÍ cước vận chuyển nội thành. <br />
                        Quý khách có nhu cầu nhận hàng trong ngày, hay đặt dịch vụ phát hỏa tốc vui lòng chịu phí.
                    </p>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 d-lg-flex mb-4 mb-lg-0 pl-4" data-aos="fade-up" data-aos-delay="100">
                <div class="icon mr-4 align-self-start">
                    <span class="icon-refresh2"></span>
                </div>
                <div class="text">
                    <h2 class="text-uppercase">Chính Sách Đổi Trả</h2>
                    <p>Cà Phê Trung Nguyên cam kết đem lại các sản phẩm chất lượng, chính hãng và nói không với hàng giả, hàng nhái. Chúng tôi không chỉ bán hàng trên các kênh thương mại điện tử và fan page mà còn tự hào mời quý khách tới tham quan, trải nghiệm và mua hàng tại showroom của chúng tôi tại Hà Nội và TP HCM.</p>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 d-lg-flex mb-4 mb-lg-0 pl-4" data-aos="fade-up" data-aos-delay="200">
                <div class="icon mr-4 align-self-start">
                    <span class="icon-help"></span>
                </div>
                <div class="text">
                    <h2 class="text-uppercase">Hỗ Trợ Khách Hàng</h2>
                    <p>
                        Mọi chi tiết hoặc cần được tư vấn trong từng trường hợp cụ thể, <br> Xin liên hệ với chúng tôi:
                        <br>
                        Thời gian làm việc : 8.30am – 6.30pm (Thứ 2- Thứ 7) ; 11am-6.30pm (Chủ Nhật)
                        <br>
                        Thuộc Công ty Cà Phê Trung Nguyên
                        <br>
                        Địa chỉ văn phòng: 235 Hoàng Quốc Việt-Bắc Từ Niêm-Hà Nội
                        <br>
                        Hotline: 0999888998
                        <br>
                        Email: caphetrungnguyen@gmail.com
                        <br>
                        Người đại diện: Nguyễn Thị Phương Mai
                        <br>
                        Email: mainguyen99@gmail.com
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
