@model List<WebCafe.Models.DonDatHang>
@{
    ViewBag.Title = "Quản lý đơn hàng";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<table id="datatable" class="tableWidth table table-bordered dt-responsive" style="border-collapse: collapse; border-spacing: 0; width: 100%;">
    
    <thead class="thead-light">
        <tr>
            <th >Mã ĐH</th>
            <th >Tên KH</th>
            <th >Ngày đặt</th>
            <th >Tổng tiền</th>
            <th >Tình trạng</th>
            <th >Thanh toán</th>
            <th >Chi tiết</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.MaDDH</td>
                <td>@item.KhachHang.TenKH</td>
                <td>@item.NgayDat</td>

                @{ double? tongTien = 0;}
                @foreach (var ct in item.ChiTietDonHangs)
                {

                    tongTien += ct.SanPham.DonGia * ct.SoLuong;
                }

                <td>@String.Format("{0:0,0 vnđ}", tongTien)</td>
                <td>@item.TinhTrangGiao</td>
                <td>@item.DaThanhToan</td>
                <td>
                    @{ var ma = "ma" + item.MaDDH; }
                    <button type="button" class="btn btn-primary btn-sm btn-rounded" data-toggle="modal" data-target=".@ma ">
                        Xem chi tiết
                    </button>
                    <!-- Modal -->
                    <div class="modal fade @ma " tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Chi tiết đơn hàng</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <p class="mb-2">
                                        Loại khách hàng:
                                        @if (item.KhachHang.ThanhVien == null)
                                        {
                                            <span class="text-primary">
                                                Khách vãng lai
                                            </span>
                                        }
                                        else
                                        {
                                            <span class="text-primary">
                                                Thành viên
                                            </span>
                                        }

                                    </p>
                                    <p class="mb-4">Tên khách hàng: <span class="text-primary">@item.KhachHang.TenKH</span></p>

                                    <div class="table-responsive">
                                        <table class="table table-centered table-nowrap">
                                            <thead>
                                                <tr>
                                                    <th scope="col">Sản phẩm</th>
                                                    <th scope="col">Tên</th>
                                                    <th scope="col">Giá tiền</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @{ double? tienDH = 0;}
                                                @foreach (var ct in item.ChiTietDonHangs)
                                                {
                                                    <tr>
                                                        <th scope="row">
                                                            <div>
                                                                <img src="~/Upload/sanpham/@ct.SanPham.HinhAnh" alt="" class="avatar-sm">
                                                            </div>
                                                        </th>
                                                        <td>
                                                            <div>
                                                                <h5 class="text-truncate font-size-14">@ct.SanPham.TenSP</h5>
                                                                <p class="text-muted mb-0">@String.Format("{0:0,0 vnđ}", ct.SanPham.DonGia) x @ct.SoLuong</p>
                                                            </div>
                                                        </td>
                                                        @{ double? tienSP = ct.SanPham.DonGia * ct.SoLuong; tienDH += tienSP;}
                                                        <td>@String.Format("{0:0,0 vnđ}", tienSP)</td>
                                                    </tr>
                                                }



                                                <tr>
                                                    <td colspan="2">
                                                        <h6 class="m-0 text-right">Giảm giá:</h6>
                                                    </td>
                                                    <td>
                                                        @if (item.GiamGia != null)
                                                        {
                                                            @String.Format("{0:0,0 vnđ}", tienDH * item.GiamGia.GiaTri)
                                                        }
                                                        else
                                                        {
                                                            @String.Format("{0:0,0 vnđ}", 0)
                                                        }
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td colspan="2">
                                                        <h6 class="m-0 text-right">Tổng tiền:</h6>
                                                    </td>
                                                    <td>
                                                        @if (item.GiamGia != null)
                                                        {
                                                            @String.Format("{0:0,0 vnđ}", tienDH - tienDH * item.GiamGia.GiaTri)

                                                        }
                                                        else
                                                        {
                                                            @String.Format("{0:0,0 vnđ}", tienDH)

                                                        }
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div>
                                        <h5 class="modal-title mt-0 mb-4">Xử lý đơn hàng</h5>
                                        <form method="post" action="~/Admin/QLDonHang/XuLyDonHang">
                                            <div class="form-group">
                                                <input type="hidden" class="form-control" id="formrow-taikhoan-input" name="MaDH" value="@item.MaDDH" required>
                                                <label for="formrow-firstname-input">Tình trạng đơn hàng</label>
                                                <input type="text" class="form-control" id="formrow-taikhoan-input" name="TinhTrang" required>
                                            </div>
                                            <div>
                                                <button type="submit" class="btn btn-primary w-md">Xử lý</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                                </div>
                            </div>
                        </div>
                    </div>




                </td>

            </tr>
        }
    </tbody>
</table>




@section ClientScript{
    <!-- Required datatable js -->
    <script src="~/Assets/admin/libs/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="~/Assets/admin/libs/datatables.net-bs4/js/dataTables.bootstrap4.min.js"></script>
    <!-- Buttons examples -->
    <script src="~/Assets/admin/libs/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
    <script src="~/Assets/admin/libs/datatables.net-buttons-bs4/js/buttons.bootstrap4.min.js"></script>

    <script src="~/Assets/admin/libs/jszip/jszip.min.js"></script>
    <script src="~/Assets/admin/libs/pdfmake/build/pdfmake.min.js"></script>
    <script src="~/Assets/admin/libs/pdfmake/build/vfs_fonts.js"></script>
    <script src="~/Assets/admin/libs/datatables.net-buttons/js/buttons.html5.min.js"></script>
    <script src="~/Assets/admin/libs/datatables.net-buttons/js/buttons.print.min.js"></script>
    <script src="~/Assets/admin/libs/datatables.net-buttons/js/buttons.colVis.min.js"></script>

    <!-- Responsive examples -->
    <script src="~/Assets/admin/libs/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
    <script src="~/Assets/admin/libs/datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js"></script>

    <!-- Sweet Alerts js -->
    <script src="~/Assets/admin/libs/sweetalert2/sweetalert2.min.js"></script>

    <!-- Sweet alert init js-->
    <script src="~/Assets/admin/js/pages/sweet-alerts.init.js"></script>

    <!-- Datatable init js -->
    <script src="~/Assets/admin/js/pages/datatables.init.js"></script>
    <script type="text/javascript">
        $('.tableWidth').dataTable({
            bAutoWidth: false,
            aoColumns: [
                { sWidth: '5%' },
                { sWidth: '10%' },
                { sWidth: '15%' },
                { sWidth: '10%' },
                { sWidth: '30%' },
                { sWidth: '20%' },
                { sWidth: '10%' }
            ]
        });
    </script>
}
 

